<footer class="footer">
    &copy; <%= new Date().getFullYear() %> Stefan Taitano
    <div>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</footer>