<footer class="footer">
    &copy; <%= new Date().getFullYear() %> Stefan Taitano
    <div style="display: flex; gap: 15px;">
        <a class="logo-brand-twitter" href="https://twitter.com/codewithfan" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a class="logo-brand-linkedin" href="https://www.linkedin.com/in/stefantaitano/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="logo-brand-github" href="https://github.com/codewithfan" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a class="logo-brand-instagram" href="https://www.instagram.com/stefanxtai/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>