<div class="author">
  <!-- <img style="width: 140px; height: 140px !important" src="/public/img/stefan-circle.png" alt=""> -->
  <h1 class="author_heading" style="font-weight: normal;">
    <a class="stefan-intro" href="/about" style="text-decoration: none; font-weight: 800 !important;">Hey, I'm Stefan.</a> I'm a full stack web developer and transitioning soldier.
    <nav style="display: flex; flex-wrap: wrap; font-size: 16px; gap: 2.5rem; font-weight: normal;">
      <a class="logo-brand-twitter" href="https://twitter.com/codewithfan" style="text-decoration: none;" target="_blank"><i class="fa-brands fa-twitter" style="color: #1DA1F2;"></i> Twitter</a>
      <a class="logo-brand-linkedin" href="https://www.linkedin.com/in/stefantaitano/" style="text-decoration: none;" target="_blank"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i> LinkedIn</a>
      <a class="logo-brand-github" href="https://github.com/codewithfan" style="text-decoration: none;" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
      <a class="logo-brand-instagram" href="https://www.instagram.com/stefanxtai/" style="text-decoration: none;" target="_blank"><i class="fa-brands fa-instagram" style="color: #FD1D1D;"></i> Instagram</a>
    </nav>
  </h1>
 
</div>

<div>
  
</div>

<section class="articles">
    <h2 class="articles__heading">Recent Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span><br>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
   
  
    
  
  
  
  </section>