<div class="author">
    <h1 class="author_heading">Hey, I'm Stefan. I'm a full stack web developer and transitioning soldier.</h1>
    <p class="author_body">Full Stack Web Developer and U.S. Army Soldier</p>
</div>

<img src="https://placehold.co/981x528" alt="placeholder image" width="981" height="528" class="hero-image">

<section class="articles">
    <h2 class="articles_heading">Recent Posts</h2>
    
    <ul class="article_ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<% post._id %>">
                <span><% post.title %></span>
                <span class="article-list_date"><% post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Read more posts</a>
    <% } %>

    
</section>