<div class="author">
    <h1 class="author_heading">Hey, I'm Stefan. I'm a web developer and soldier.</h1>
    <p class="author_body">Full Stack Web Developer and U.S. Army Soldier</p>
</div>

<img src="https://placehold.co/981x528" alt="placeholder image" width="981" height="528" class="hero-image">

<section class="articles">
    <h2 class="articles_heading">Recent Posts</h2>

    <ul class="article_ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>



    <a href="" class="pagination">&lt; Read more posts</a>
</section>